.container_1{
    display: flex;
    justify-content: space-around;
    padding: 100px ;
    border-bottom:2px solid ;
    border-bottom-style: ridge;
    
}

.section{
    width:250px;
    height: 150px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    gap: 10px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);
}

.container_2{
    width: 100%;
    display: flex;
    padding: 60px 0px;
    flex-direction: column;
    align-items: center;
}   
 .container_2 table{
    width: 80%;
 }
 .container_2 td{
    padding: 10px 150px;
 }
 .container_2 table{
    border: 1px solid  rgba(0, 0, 0, 0.1);
 }
